<div style="text-decoration: underline; cursor: pointer" (click)="goBack()"><p>Go Back</p></div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{ recipe.title }}</h3>
  </div>
  <div class="card-body">
    <div style="float: left; width: 300px">
      <p>{{ recipe.description }}</p>
    </div>
    <div class="cover-photo-holder" *ngIf="recipe.coverPhoto">
      <img src="{{ recipe.coverPhoto }}"/>
    </div>
    <div class="cover-photo-holder" *ngIf="!recipe.coverPhoto">
      <img src="../../../assets/emptybowl.jpg"/>
    </div>
    <div>
      <div style="float: left; width: 100%">
        <span style="font-weight: bold">Preparation Time: </span>
        <span>{{ recipe.preparationTime }}</span>
      </div>
      <div style="float: left; width: 100%">
        <span style="font-weight: bold">People Count: </span>
        <span>{{ recipe.personNumber }}</span>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div width="100%">
      <h5>Ingredients</h5>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.ingredient}} {{ingredient.measure}}</li>
      </ul>
    </div>
    <div width="100%">
      <h5>Instructions</h5>
      <ol>
        <li *ngFor="let instruction of recipe.instructions">{{instruction.instruction}}</li>
      </ol>
    </div>
  </div>
</div>
